.w-50:nth-of-type(2) .form-group:nth-of-type(1) {
    display: inline-block;
    width: 45%;
    margin-right: 10px;
}

.w-50:nth-of-type(2) .form-group:nth-of-type(2) {
    display: inline-block;
    width: 45%;
    margin-left: 10px;
}

.card {
    margin: 100px 0;
}

.card .card-header {
    font-size: 26px;
    font-weight: bold;
}

.card label {
    font-weight: bold;
}

body .w-50:first-of-type .card-header {
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
}

body .w-50:nth-of-type(2) .card-header {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

body .w-50:nth-of-type(3) .card-header {
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}